.profile__profile-info {
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

@media screen and (max-width:900px) {

    .profile__profile-info {
        display: block;
        margin: 0 auto 36px auto;
    }

}